p {
  padding: 0 16px;
  margin: 0 auto;
  max-width: 720px;
  font-size: 20px;
  margin-bottom: 40px;

  &:first-child {
    padding-top: 50px;
  }

  &:last-child {
    margin-bottom: 0;
    padding-bottom: 50px;
  }
}
